<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FT-PLAT</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="static\css\ftplat.css">
  <style>
    /* Adicionando estilo para a seta de voltar */
    .back-arrow {
      position: absolute;
      top: 20px;
      left: 20px;
      font-size: 30px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<!-- Adicionando seta de voltar -->
<a href="/tools" class="back-arrow">&#8592;</a>
<h1> ESPECIFICAÇÃO DA DEMANDA 
  <small>Informações necessárias para solicitar uma demanda de fast-tracking</small>
</h1>
<section class="contact-wrap">
  <form id="form-options" action="/process_demand" method="post" class="contact-form">
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Título da Demanda *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">SOL do Projeto *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Líder *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="input-block">
        <label for="start-date">Data início *</label>
        <input type="text" class="form-control text-center" id="start-date" maxlength="10" onkeyup="formatDate(this)" required>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block">
        <label for="vendor">Fornecedor</label>
        <select class="form-control" id="vendor">
          <option value="genesys">Genesys</option>
          <option value="avaya">Avaya</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Célula *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Quantidade de PAs *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Gerente de Rel / Op *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label for="">Responsável Oi *</label>
        <input type="text" class="form-control" required>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block">
        <label for="vendor">UN Beneficiada</label>
        <select class="form-control" id="options_ft" name="options_ft">
          <option value="Criar novo(s) skill(s)">Criar novo(s) skill(s)</option>
          <option value="Roteamento">Roteamento</option>
          <option value="RP Entrada: Transferência Humana (Outras EPS) 0800">RP Entrada: Transferência Humana (Outras EPS) 0800</option>
          <option value="Transferência huamana (Tahto)">Transferência huamana (Tahto)</option>
          <option value="RP Saida: Transferência humana (Outra EPS)">RP Saida: Transferência humana (Outra EPS)</option>
          <option value="Alterar configuração skill(Rotamanager)">Alterar configuração skill(Rotamanager)</option>
          <option value="Priorização de chamada(Fura fila)">Priorização de chamada(Fura fila)</option>
          <option value="Transbordo">Transbordo</option>
          <option value="Campanha">Campanha</option>
          <option value="Alterar horário de atendimento">Alterar horário de atendimento</option>
          <option value="Consultas RP">Consultas RP</option>
          <option value="Transferência com Checklist">Transferência com Checklist</option>
          <option value="Dica atendente">Dica atendente</option>
          <option value="Bloqueio de RP">Bloqueio de RP</option>
          <option value="Licenças VDI">Licenças VDI</option>
          <option value="Receber chamada com consulta">Receber chamada com consulta</option>
          <option value="Alterar pausa callback">Alterar pausa callback</option>
          <option value="Cochicho">Cochicho</option>
          <option value="Estratégia de transferência">Estratégia de transferência</option>
          <option value="Skata">Skata</option>
          <option value="Demanda Vonix">Demanda Vonix</option>
          <option value="Bloqueio de por contexto">Bloqueio de por contexto</option>
          <option value="PÓS Routing - De/Para">PÓS Routing - De/Para</option>
          <option value="OrigFlex">OrigFlex</option>
        </select>
      </div>
    <div class="col-sm-12">
      <button type="submit" class="square-button">Concluir</button>
    </div>
  </form>
</section>

<!-- follow me template -->
<div class="made-with-love">
  Made with 
  <i>@Tahto</i>
</div>
<!-- partial -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="static\js\ftplat.js"></script>
</body>
</html>
